<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
</head>
<body>
<a href="/">Index </a>
<a href="/show/user/cart">Cart </a>
<h1>商品详情</h1>
<table border="1">
    <tr>
        <td>商品名称</td>
        <td th:text="${showItem.name}"></td>
    </tr>
    <tr>
        <td>商品价格</td>
        <td th:text="${showItem.price}"></td>
    </tr>
    <tr>
        <td>商品状态</td>
        <td th:text="${showItem.status}"></td>
    </tr>
    <tr>
        <td>商品图片</td>
        <td><img th:src="${showItem.image}"></td>
    </tr>
    <tr>
        <td>商品描述</td>
        <td th:text="${showItem.descr}">row 2, cell 2</td>
    </tr>
    <tr>
        <td>
            <button th:onclick="'addToCart('+${showItem.id}+',1);'">加入购物车</button>
        </td>
    </tr>
</table>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="/static/js/addToCart.js"></script>
</html>